/* library.scss */
@use '../abstracts' as *;

.library-form {
  display: flex;
  flex-direction: column;

  input[type=text] {
    width: 100%;
    padding: 0.5rem 0.75rem;
    margin: 0.5rem 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
  }

  input[type=submit] {
    margin-top: 2rem;
    background-color: $underline-color;
  }
}

.library-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  column-gap: 1.5rem;
  row-gap: 1rem;
  margin: 2rem 0;
}

.book {
  img {
    aspect-ratio: 5 / 7;
    width: 100%;
    max-width: 14rem;
  }
}