{% extends "base.html.twig" %}

{% block title %}API-routes{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="content api">
    <article>
        <h1>List of API-routes:</h1>
        <ul>
            {% for route in routes %}
            <li>{{ route.header }}</li>
            <p>{{ route.description }}</p>
            {% endfor %}
        </ul>
    </article>

</div>
{% endblock %}