{% extends "base.html.twig" %}

{% block title %}Metrics analys{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
<div class="content">
    <article>
        <h1>Metrics analys</h1>

        <h2>Introduktion</h2>

    </article>

</div>
{% endblock %}