/* variables.scss */

$font-color: #f9f9f7 !default;

$background-color: #433633!default;
$gradient-color: #35222F !default;

$underline-color: #CD7F32 !default;
$darker-underline: #A51488!default;

$lucky-color: #1B1424!default;

$shadow-color: rgba(0, 0, 0, 0.3) !default;

$header-font: 'Playfair Display', sans-serif !default;
$paragraph-font: 'Source Sans 3', serif !default;

$title-weight: 400 !default;
$header-weight: 700 !default;
$paragraph-wight: 500 !default;

$title-size: 3rem !default;
$header-size: 3rem !default;
$subheader-size: 1.5rem !default;
$paragraph-size: 1.4rem !default;
$lucky-size: 5rem !default;

$nav-size: 1.25rem !default;
$nav-hover: 2.25rem !default;
$nav-active: 2rem !default;

$mobile-title: 4rem !default;
$mobile-header: 2.5rem !default;
$mobile-subheader: 1.25rem !default;
$mobile-paragraph: 0.9rem !default;
$mobile-icon: 2rem !default;

$img-filter: none !default;
